<div class="article">
    <div *ngIf="zdarticle">
        <div class="article__title">
            <h1>
                <img src="{{zdarticle.users[0].photo.content_url}}" alt="">
                <span>{{ zdarticle.article.title }}</span>
            </h1>
        </div>
        <div class="article__body">
            <form [formGroup]="form">
                <div fxLayout fxLayoutGap="24px">

                    <div class="article__metadata" fxFlex="45%">
                        <div fxLayout="column">
                            <div fxLayout fxLayoutAlign="space-between center">
                                <p>
                                    <span>Promoted: </span>{{ zdarticle.article.promoted }}
                                </p>
                                <div fxFlexAlign="center">
                                    <div ngbRadioGroup class="btn-group btn-group-sm" data-toggle="buttons" formControlName="promoted">
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="true" ngbButton> Yes
                                    </label>
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="false" ngbButton> No
                                    </label>
                                    </div>
                                </div>

                            </div>

                            <div fxLayout fxLayoutAlign="space-between center">
                                <p>
                                    <span>Outdated: </span>{{ zdarticle.article.outdated }}
                                </p>
                                <div fxFlexAlign="center">
                                    <div ngbRadioGroup class="btn-group btn-group-sm" data-toggle="buttons" formControlName="outdated">
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="true" ngbButton> Yes
                                    </label>
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="false" ngbButton> No
                                    </label>
                                    </div>
                                </div>

                            </div>
                            <div fxLayout fxLayoutAlign="space-between center">
                                <p>
                                    <span>Draft: </span>{{ zdarticle.article.draft }}
                                </p>
                                <div fxFlexAlign="center">
                                    <div ngbRadioGroup class="btn-group btn-group-sm" data-toggle="buttons" formControlName="draft">
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="true" ngbButton> Yes
                                    </label>
                                        <label class="btn-primary" ngbButtonLabel>
                                    <input type="radio" [value]="false" ngbButton> No
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="column">
                            <p>
                                Created: {{ zdarticle.article.created_at | date: 'dd/MM/yyyy' }}
                            </p>
                            <p>
                                Last updated: {{ zdarticle.article.updated_at | date: 'dd/MM/yyyy' }}
                            </p>
                            <p>
                                Tags: {{ zdarticle.article.label_names }}
                            </p>
                        </div>

                    </div>
                </div>
            </form>
            <hr>
            <div fxLayout>
                <div fxFlex="45%">
                    <h6>
                        <span>Current status: </span> EXPIRED
                    </h6>
                </div>
                <div fxFlex>
                    <h6>
                        <span>Edit expiry date</span>
                    </h6>
                    <ngb-datepicker #dp (navigate)="date = $event.next"></ngb-datepicker>
                </div>
                {{ newExpiryDate }}
            </div>
            <pre>{{form.value | json}}</pre>
        </div>
    </div>

    <hr>

    <div class="article__body" *ngIf="article">
        {{ article.expiryDate | date: 'dd/MM/yyyy'}}
    </div>
</div>