<div class="review-note-form">
    <form [formGroup]="form" (ngSubmit)="createReviewNote()">
        <div fxLayout fxLayoutAlign="space-between center">
            <div fxFlex="75%">
                <label>
                            <input type="text"
                                placeholder="Add your note here"
                                formControlName="body">
                        </label>
            </div>
            <div fxFlex fxFlexAlign="end">
                <button md-button type="submit" [disabled]="!form.valid">Save</button>
            </div>

        </div>
    </form>
</div>