<div *ngIf="zdarticle">
    <form [formGroup]="form">
        <div fxLayout="column" formGroupName="flags">
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Promoted: </span>
                <section>
                    <md-slide-toggle formControlName="promoted"></md-slide-toggle>
                </section>
            </div>
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Comments disabled: </span>
                <section>
                    <md-slide-toggle formControlName="comments_disabled"></md-slide-toggle>
                </section>
            </div>
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Draft: </span>
                <section>
                    <md-slide-toggle formControlName="draft"></md-slide-toggle>
                </section>
            </div>
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Created: </span>
                <span>{{ zdarticle.article.created_at | date: 'medium'}}</span>
            </div>
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Last updated: </span>
                <span>{{ zdarticle.article.updated_at | date: 'medium'}}</span>
            </div>
            <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
                <span>Tags: </span>
                <span>{{ zdarticle.article.label_names}}</span>
            </div>
        </div>
    </form>
</div>