<div fxLayout="column" class="fb-article-form">
    <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
        <span>Current status: </span>
        <span>Expired</span>
    </div>
    <div fxLayout fxLayoutAlign="space-between start" class="article-text-info">
        <span>Current expiry date: </span>
        <span>{{ fbArticle.expiryDate | date:'dd/MM/yyyy'}}</span>
    </div>
    <div fxFlex fxFlexAlign="center" class="new-expiry-form">


        <h3 class="mat-h3">Set new expiry date</h3>
        <div class="quick-buttons">
            <md-button-toggle-group #group="mdButtonToggleGroup" vertical="false" (change)="addMonths(group.value)">
                <md-button-toggle value="3">
                    3 months
                </md-button-toggle>
                <md-button-toggle value="6">
                    6 months
                </md-button-toggle>
                <md-button-toggle value="12">
                    12 months
                </md-button-toggle>
            </md-button-toggle-group>
        </div>
        <form [formGroup]="form" (ngSubmit)="updateFbArticle()">
            <div fxLayout="column">
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker" formControlName="expiryDate">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
                <div fxFlexAlign="end">
                    <button md-button type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>